site_name: sr2silo
theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime

repo_name: sr2silo
repo_url: https://github.com/cbg-ethz/sr2silo

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true

nav:
  - Home: index.md
  - Usage:
      - Configuration: usage/configuration.md
      - Multi-Organism Support: usage/organisms.md
      - Deployment: usage/deployment.md
      - Resource Requirements: usage/resource_requirements.md
  - API Reference:
      - Loculus Integration: api/loculus.md
      - Processing: api/process.md
      - Data Schemas: api/schema.md
      - V-Pipe Integration: api/vpipe.md
  - Contributing:
      - Overview: contributing.md
      - Branching Strategy: contributing/branching-strategy.md

watch:
  - src/sr2silo

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/cbg-ethz/sr2silo

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list


extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
