# This pipeline checks whether the package
# installs properly, passes unit tests, test coverage and whether
# the code formatting is right.
name: CI/CD (Poetry + Conda)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          channels: conda-forge, bioconda
          environment-file: environments/dev-environment.yml
          activate-environment: sr2silo-dev

      - name: Install Poetry and dependencies
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate sr2silo-dev
          poetry install --with dev

      - name: Determine if PR
        id: determine-pr
        run: echo "is_pr=${{ github.event_name == 'pull_request' }}" >> $GITHUB_OUTPUT
      - name: Run unit tests
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate sr2silo-dev
          poetry run pytest

      - name: Run Ruff check
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate sr2silo-dev
          poetry run ruff check .

      - name: Run Ruff format check
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate sr2silo-dev
          poetry run ruff format --check .

      - name: Run interrogate
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate sr2silo-dev
          poetry run interrogate src

      - name: Run Pyright
        run: |
          source $(conda info --base)/etc/profile.d/conda.sh
          conda activate sr2silo-dev
          poetry run pyright
